[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-environ = "*"
sentry-sdk = "*"
django-rest-framework = "*"
psycopg2-binary = "*"

[dev-packages]
pytest = "*"
django-werkzeug = "*"
django-debug-toolbar = "*"
ipdb = "*"

[requires]
python_version = "3.7"
