[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-environ = "*"
sentry-sdk = "*"
django-rest-framework = "*"
psycopg2-binary = "*"
gunicorn = "*"
python-dotenv = "*"
django-extensions = "*"
django-rq = "*"

[dev-packages]
pytest = "*"
django-werkzeug = "*"
django-debug-toolbar = "*"
ipdb = "*"
invoke = "*"
pytest-cov = "*"
django-coverage-plugin = "*"
pytest-django = "*"
pytest-xdist = "*"
factory-boy = "*"
pytest-sugar = "*"
django-pdb = "*"
werkzeug = "*"
mypy = "*"

[requires]
python_version = "3.7"
