[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "<3"                        # Basics and boilerplate stuff (BSD-3)
django-environ = "*"                 # Configuration by environment variables according to 12Factor model (MIT)
sentry-sdk = "*"                     # Error logging to Sentry
django-rest-framework = "*"          # Tools for RESTful API (BSD-2)
psycopg2-binary = "*"                # Database connector (LGPL)
gunicorn = "*"                       # Python WSGI HTTP Server
django-cors-headers = "*"
django-extensions = "*"             # Different helpers for Django REST Framework
django-rq = "*"                     # Asynchronous tasks
django-redis = "*"                  # Redis cache backend (BSD-3)
whitenoise = "*"
urllib3 = "*"
django-silk = "*"
saasy = "*"

[dev-packages]
django-werkzeug = "*"
ipdb = "*"                          # Debugging
django-coverage-plugin = "*"
django-pdb = "*"
werkzeug = "*"                      # A flexible WSGI implementation and toolkit (BSD-3)
mypy = "*"
factory_boy = "*"                   # Mocked Test data
coverage = "*"
ipython = "*"                       # Better Python shell
pre-commit = "*"
prospector = ">=1.1.6.4"
Faker = "*"
black = "*"
flake8 = "==3.4.0"                  # Old version, because prospector stick with old deps of pyflake and pycodestyles
autopep8 = "==1.3.5"                # Old version, because prospector stick with old deps of pyflake and pycodestyles
pytest = "*"                        # Better testing
pytest-django = "*"
pytest-xdist = "*"
pytest-factoryboy = "*"
pytest-freezegun = "*"
pytest-mock = "*"
pytest-sugar = "*"
pytest-env = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true

[scripts]
go-docker = "docker-compose up -d"
create-coverage = "coverage run -m py.test"
check-coverage = "coverage report --fail-under=95"
codecov-report = "coverage xml"
